<div class="container">
 <div class="col-md-12 d-flex align-items-center">
      <h1>
        Your Contracts
      </h1>

    <% if current_user != nil && current_user.account_type == "Brand" %>
    <div class="ms-auto">
      <a href="/new_contract" type="button" class="btn btn-outline-success">
        Add New Contract
      </a>
    <% elsif current_user != nil && current_user.account_type == "Athlete" %>
    <% else %>
    <h2>Please <a href="/users/sign_in">log in</a> or <a href="/users/sign_up">sign up</a> to view and add contracts.</h2>
    <% end %>
    </div>
  </div>

<ul class="nav nav-tabs nav-fill mb-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active-tab-pane" type="button" role="tab" aria-controls="active-tab-pane" aria-selected="true">Active posts (6)</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="expired-tab" data-bs-toggle="tab" data-bs-target="#expired-tab-pane" type="button" role="tab" aria-controls="expired-tab-pane" aria-selected="false">Expired posts (8)</button>
  </li>
</ul>

<% if current_user != nil %>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="active-tab-pane" role="tabpanel" aria-labelledby="active-tab" tabindex="0">
  <% @user_contracts.each do |a_contract| %>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h1 class="h6 my-1"><%= a_contract.contract_name %></h1>

              <div>
                Expires on May 30, 2025
              </div>
            </div>

            <div class="card-body">
              <p>Delinquo desino aperte. Sponte stultus tempore. Est adaugeo quas.</p>
            </div>

            <div class="card-footer">
              Posted on Apr  9, 2025
            </div>
          </div>
        </div>
  </div>
  <% end %>

  <div class="tab-pane fade" id="expired-tab-pane" role="tabpanel" aria-labelledby="expired-tab" tabindex="0">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover table-striped table-bordered">
            <tbody><tr>
              <th>Title</th>
              <th>Body</th>
              <th>Posted on</th>
              <th>Expired on</th>
            </tr>

              <tr>
                <td>Gorgeous Silk Car</td>
                <td>Defigo timor vinum. Cometes cubitum eos. Unde placeat deduco.</td>
                <td>Mar  6, 2025</td>
                <td>May  8, 2025</td>
              </tr>
              <tr>
                <td>Lightweight Aluminum Bench</td>
                <td>Cum astrum usque. Delego depono abbas. Acquiro velit angustus.

Voluptas in deficio. Clementia verto sequi. Soluta delego cupressus.

Cavus cognatus fugiat. Surculus antiquus admoneo. Canis comminor adnuo.

Summisse denego aestas. Demo considero carpo. Voluptatibus eligendi arca.

Et consequatur saepe. Trado tremo arceo. Surgo agnitio demonstro.</td>
                <td>Apr  5, 2025</td>
                <td>May  6, 2025</td>
              </tr>
              <tr>
                <td>Synergistic Plastic Wallet</td>
                <td>Strues abduco stillicidium. Uter dolor suadeo. Et deduco perferendis.

Arcesso ante quaerat. Capto vociferor et. Vereor debitis ustulo.

Brevis socius vesper. Cernuus ad possimus. Atrocitas arbitro tabernus.

Vereor vero adhaero. Suasoria alias summopere. Creta summa cupiditas.

Depopulo tristis cupiditas. Vilicus autem infit. Illum verecundia cruentus.</td>
                <td>Feb 16, 2025</td>
                <td>May  2, 2025</td>
              </tr>
              <tr>
                <td>Rustic Steel Wallet</td>
                <td>Curis accommodo patrocinor. Aut aedificium video. Ea tamquam termes.</td>
                <td>Feb  5, 2025</td>
                <td>Apr 24, 2025</td>
              </tr>
              <tr>
                <td>Construction Facilitator</td>
                <td>Aegre ut compello. Calcar cura qui. Deficio consequatur conservo.

Ara credo sint. Vomica amicitia apto. Vacuus color cultura.

Quis cribro coniecto. Cerno est tutis. Adulescens strues claro.

Omnis arto adversus. Carcer tabula cibo. Caecus articulus vallum.

Traho eum adulatio. Aegrotatio id uter. Arbustum sequi caelum.</td>
                <td>Mar  1, 2025</td>
                <td>Mar 31, 2025</td>
              </tr>
              <tr>
                <td>Intelligent Wool Bench</td>
                <td>Xiphias aliquam accusantium. Delectatio termes vergo. Vinco vestrum vulariter.

Voluptates ad laudantium. Repudiandae ea umerus. Cruciamentum asporto amaritudo.</td>
                <td>Mar 17, 2025</td>
                <td>Mar 26, 2025</td>
              </tr>
              <tr>
                <td>Ergonomic Steel Lamp</td>
                <td>Caelestis carpo cohibeo. Verto amoveo trucido. Tripudio tenuis sequi.

Armo suppono carmen. Delinquo summopere adflicto. Celo abeo accusamus.</td>
                <td>Feb 26, 2025</td>
                <td>Mar 14, 2025</td>
              </tr>
              <tr>
                <td>Senior Manager</td>
                <td>Amplitudo canto valetudo. Spiritus vaco astrum. Aurum conculco torrens.</td>
                <td>Feb 22, 2025</td>
                <td>Mar  9, 2025</td>
              </tr>
          </tbody></table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newPostModalLabel">New post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/insert_post" method="post">
          <div class="mb-3">
            <label for="title_box" class="form-label">
              Title
            </label>

            <input type="text" id="title_box" name="query_title" class="form-control">
          </div>

          <div class="mb-3">
            <label for="body_box" class="form-label">
              Body
            </label>

            <textarea id="body_box" name="query_body" rows="3" class="form-control"></textarea>
          </div>

          <div class="mb-3">
            <label for="expires_on_box" class="form-label">
              Expires on
            </label>

            <input type="date" id="expires_on_box" name="query_expires_on" class="form-control">
          </div>

          <input type="hidden" id="board_id_box" name="query_board_id" value="73444">

          <div class="d-grid">
            <button class="btn btn-primary">
              Add post
            </button>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
</div>

<% else %>
<% end %>
