<div>
  <div>
    <h1>
      Add New Contract
    </h1>
  </div>

</div>

<hr>

<div>
  <div>

    <form action="/insert_contract" method="post">
      <div>
        <label for="contract_name_box">
          Contract name
        </label>

        <input type="text" id="contract_name_box" name="query_contract_name">
      </div>

      <div>
        <label for="description_box">
          Brief Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="monetary_compensation_box">
          Monetary compensation $
        </label>

        <input type="number" id="monetary_compensation_box" name="query_monetary_compensation">
      </div>

      <div>
        <label for="other_compensation_box">
          Other compensation
        </label>

        <input type="text" id="other_compensation_box" name="query_other_compensation">
      </div>

      <div>
        <label for="created_by_box">
        </label>
        <input type="hidden" id="created_by_box" name="query_created_by">
      </div>

      <!--<div>
        <label for="token_box">
        </label>
        <input type="hidden" id="token_box" name="query_token">
      </div>-->

      <button>
        Create contract
      </button>
    </form>
  </div>
</div>
